body {
	font-family: "Trebuchet MS" !important;
}

#aboutUs {
	margin-bottom: 150px; 
}

footer {
	background-color: #101010 !important;
	height: 120px !important;
	font-size: 15px;
	color: #bbb;
	padding-top: 15px;
}